name: cicd

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    env:
      SKAFFOLD_DEFAULT_REPO: ghcr.io/con2
    steps:
      - uses: actions/checkout@v4
      - if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: cache-bin
        uses: actions/cache@v4
        with:
          path: bin
          key: ${{ runner.os }}-bin-2
      - if: steps.cache-bin.outputs.cache-hit != 'true'
        run: |
          mkdir bin
          curl -Lo bin/skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
          curl -Lo bin/kubectl https://dl.k8s.io/release/v1.22.0/bin/linux/amd64/kubectl
          chmod +x bin/skaffold bin/kubectl
      - run: echo "$PWD/bin" >> $GITHUB_PATH
      - uses: docker/setup-buildx-action@v3
      - id: build
        name: skaffold build
        run: |
          # only push to ghcr.io on push to main
          if ! [[ "$GITHUB_EVENT_NAME" == 'push' && "$GITHUB_REF" == 'refs/heads/main' ]]; then
            export SKAFFOLD_PUSH=false
          fi
          skaffold build --file-output build.json
      - name: Store build.json artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-json
          path: build.json

  deploy_staging:
    runs-on: self-hosted
    needs: build
    environment: staging
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v5
        with:
          name: build-json
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: package-lock.json

      - id: cache-bin
        uses: actions/cache@v4
        with:
          path: bin
          key: ${{ runner.os }}-bin-2
      - if: steps.cache-bin.outputs.cache-hit != 'true'
        run: |
          mkdir bin
          curl -Lo bin/skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
          curl -Lo bin/kubectl https://dl.k8s.io/release/v1.22.0/bin/linux/amd64/kubectl
          chmod +x bin/skaffold bin/kubectl
      - run: echo "$PWD/bin" >> $GITHUB_PATH
      - run: npm ci
      - run: npx tsx src/bin/manifest.ts
        env:
          ENV: staging
      - run: skaffold deploy -n larpit-staging -a build.json

  deploy_production:
    runs-on: self-hosted
    needs: build
    environment: production
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v5
        with:
          name: build-json
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          package-manager-cache: false

      - id: cache-bin
        uses: actions/cache@v4
        with:
          path: bin
          key: ${{ runner.os }}-bin-2
      - if: steps.cache-bin.outputs.cache-hit != 'true'
        run: |
          mkdir bin
          curl -Lo bin/skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
          curl -Lo bin/kubectl https://dl.k8s.io/release/v1.22.0/bin/linux/amd64/kubectl
          chmod +x bin/skaffold bin/kubectl
      - run: echo "$PWD/bin" >> $GITHUB_PATH
      - run: node --experimental-strip-types src/bin/manifest.mts
        env:
          ENV: production
      - run: skaffold deploy -n larpit-production -a build.json
